<c-container class="row">
<c-card class="d-flex align-self-stretch" style="cursor:pointer" routerLink="/card-detail" [cBorder]="'danger'" [textColor]="'danger'">
  <img cCardImg="top" [src]="card.image">
  <p *ngIf="editor" class="pt-3">
    <svg
      class="mx-5"
      cIcon
      name="cilPencil"
      size="xl"
      title="Numbered List Icon"
    ></svg>
  </p>
  <c-card-body style="height: 150px">
    <h5 cCardTitle>{{ card.name }}</h5>
    <p cCardText>
      {{ card.description }}
    </p>
  </c-card-body>
  <c-card-footer>
    <small class="text-medium-emphasis">
      Last updated {{ i + 10 }} mins ago
    </small>
  </c-card-footer>
</c-card>
</c-container>
