<app-header></app-header>
<c-container>
  <h1>Kosár</h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Kép</th>
          <th>Név</th>
          <th>Egységár</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of order.products">
          <td><img [src]=product.image></td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }} Ft</td>
        </tr>
      </tbody>
    </table>
    <h2>Összesen</h2>
    <p>{{total}} Ft</p>

    <form (ngSubmit)="onClickPay()">
      <div class="form-group">
        <label for="country">Ország</label>
        <input cFormControl name="country" [(ngModel)]="address.country" />

        <label for="city">Város</label>
        <input cFormControl name="name" [(ngModel)]="address.city" />

        <label for="street">Utca</label>
        <input cFormControl name="street" [(ngModel)]="address.street" />

        <label for="notes">Megjegyzések</label>
        <input cFormControl name="notes" [(ngModel)]="address.notes" />
      </div>

      <button type="submit" cButton class="mr-3 mb-3" color="dark">Fizetek</button>
    </form>

    <button cButton color="secondary" routerLink="/" class="mb-3">
      Vásárlás folytatása
    </button>
  </div>
</c-container>
<app-footer></app-footer>
