<c-footer class="hidden-print">
  <c-container class="px-4">
    <c-row [gutter]="{gx: 5}">
      <c-col class="text-center">
        <div class="p-3 border bg-light"><h3>Elérhetőség</h3>
          <p>
            <svg
              class="mx-5"
              cIcon
              name="cilPhone"
              size="xl"
              title="Numbered List Icon"
            ></svg
            >+3660/000-0000
          </p>
          <p>
            <svg
              class="mx-5"
              cIcon
              name="cilEnvelopeClosed"
              size="xl"
              title="Numbered List Icon"
            ></svg
            >jatek@jatek.hu
          </p>
          <p>
            <img
              src="../assets/images/visaCard.png"
              style="width: 400px; height: 42px"
            />
          </p></div>
      </c-col>
      <c-col class="text-center">
        <div class="p-3 border bg-light">   <h3>Információk</h3>
          <p>
            <a href="#">ÁSZF</a>
          </p>
          <p>
            <a href="#">Adatkezelési tájékoztató</a>
          </p>
          <p>
            <a href="#">Fizetés,szállítás</a>
          </p>
        <p>
          <a href="#">Facebook</a>
        </p></div>
      </c-col>
    </c-row>
  </c-container>
  <c-container fluid class="text-center">
    © Board Game Webshop 2022
  </c-container>

</c-footer>


