<app-header></app-header>
<c-container>

  <c-carousel id="carousel" class="pt-3">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>

  <h1 class="text-center py-5">Legújabb termékek</h1>

  <c-pagination aria-label="Page navigation example">
    <button cPageLink aria-label="Previous" class="mr-3" [routerLink] (click)="jumpToPage(page-1)" [disabled]="page===1"><span aria-hidden="true">&laquo;</span></button>

    <c-row [gutter]="4" [md]="3" [xs]="1">
      <c-col *ngFor="let card of products | slice:startSlice:endSlice; index as i">
        <app-card [card]="card" [i]="i"></app-card>
      </c-col>
    </c-row>

    <button cPageLink aria-label="Next" class="ml-3" [routerLink] (click)="jumpToPage(page+1)" [disabled]="page===pageCard.length"><span aria-hidden="true">&raquo;</span></button>
  </c-pagination>

</c-container>
<app-footer></app-footer>
