

<app-header></app-header>
<c-container>

  <c-carousel id="carousel" class="pt-3">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>

  <h1 class="text-center py-5">Legújabb termékek</h1>

  <c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
    <c-col *ngFor="let card of products |async; index as i">
      <app-card [card]="card" [i]="i"></app-card>
    </c-col>
  </c-row>

</c-container>
<app-footer></app-footer>
