<app-header (searchTextEmitter)="onSearch($event)"></app-header>

<c-container>
  <h1 class="text-center py-5">Családi Játékok</h1>
  <c-pagination aria-label="Page navigation example">
    <li cPageItem>
      <button cPageLink aria-label="Previous" [routerLink] (click)="jumpToPage(page-1)" [disabled]="page===1"><span aria-hidden="true">&laquo;</span></button>
    </li>
    <li cPageItem *ngFor="let pageNum of pageCard" [active]="page===pageNum">
      <button cPageLink [routerLink] (click)="jumpToPage(pageNum)">{{pageNum}}</button>
    </li>
    <li cPageItem>
      <button cPageLink aria-label="Next" [routerLink] (click)="jumpToPage(page+1)" [disabled]="page===pageCard.length"><span aria-hidden="true">&raquo;</span></button>
    </li>
  </c-pagination>
  <c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
    <c-col *ngFor="let card of cards| search:searchText | slice:startSlice:endSlice; index as i ">
      <app-card [card]="card" [i]="i"></app-card>
    </c-col>
  </c-row>
</c-container>
<app-footer></app-footer>
