<c-container>
  <c-row class="align-items-start mt-3">
    <c-col class="col-12 col-sm-3 col-lg-2">
      <a href="">
        <img
          cImg
          rounded
          src="../../../assets/images/logo.png"
          thumbnail
          style="height: 100%"
        />
      </a>
    </c-col>

    <c-col class="mt-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-danger" routerLink="/boardgames" [queryParams]="{ category: 'family'}"
                >Családi Játékok</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" routerLink="/boardgames" [queryParams]="{ category: 'strategy'}"
                >Stratégiai Játékok</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" routerLink="/boardgames" [queryParams]="{ category: 'party'}"
                >Party Játékok</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" routerLink="/boardgames" [queryParams]="{ category: 'action'}"
                >Akciós Játékok</a
              >
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              [ngModel]="searchText"
              (ngModelChange)="search($event)"
              name="search"
            />
          </form>
          <a routerLink="/cart"
            ><svg
              class="mx-2 text-dark"
              cIcon
              name="cilCart"
              size="xl"
              title="Numbered List Icon"
            ></svg
          ></a>
          <a routerLink="/login"
            ><svg
              class="mx-2 text-dark"
              cIcon
              name="cilUser"
              size="xl"
              title="Numbered List Icon"
            ></svg
          ></a>
          <a *ngIf="(user$ | async)" (click)="onLogout()" style="cursor:pointer"
            ><svg
              class="mx-2 text-dark"
              cIcon
              name="cilAccountLogout"
              size="xl"
              title="Numbered List Icon"
            ></svg
          ></a>
        </div>
      </nav>
    </c-col>
  </c-row>
</c-container>
