<c-row class="align-items-start px-5 mx-5">
   <c-col class="pt-5">
    <a href=""><h1>Board Games</h1></a>
    <h3>webshop</h3>
  </c-col>
  <c-col class="pt-5">
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/family" routerLinkActive="active">
          Családi Játékok
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/strategy" routerLinkActive="active">Stratégiai Játékok</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/party" routerLinkActive="active">
         Party Játékok
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/action" routerLinkActive="active">
         Akciós Játékok
        </a>
      </c-nav-item>
    </c-header-nav>
  </c-col>
  <c-col class="pt-5">
    <svg
      class="mx-5"
      cIcon
      name="cilSearch"
      size="xl"
      title="Numbered List Icon"
    ></svg>
    <svg
      class="mx-5"
      cIcon
      name="cilCart"
      size="xl"
      title="Numbered List Icon"
    ></svg>
    <a href="/login" ><svg
      class="mx-5"
      cIcon
      name="cilUser"
      size="xl"
      title="Numbered List Icon"
    ></svg></a>
  </c-col>
</c-row>

