<c-row class="align-items-start px-5 mx-5">
  <c-col class="pt-5 col-2">
    <a href="">
    <img cImg height="300" rounded src="../../../assets/images/logo.png" thumbnail width="300" /></a>


  </c-col>
  <c-col class="pt-5 col-4">
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/family" routerLinkActive="active">
          Családi Játékok
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/strategy" routerLinkActive="active"
          >Stratégiai Játékok</a
        >
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/party" routerLinkActive="active">
          Party Játékok
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/action" routerLinkActive="active">
          Akciós Játékok
        </a>
      </c-nav-item>
    </c-header-nav>
  </c-col>
  <div class="form-group col-2">
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        *ngFor="let c of characters | search: searchText"
      >
        {{ c }}
      </li>
    </ul>
    <input
      type="search"
      aria-label="search"
      placeholder="Search"
      [(ngModel)]="searchText"
    />
  </div>

  <a class="col-2" routerLink="/cart"
    ><svg
      class="mx-5"
      cIcon
      name="cilCart"
      size="xl"
      title="Numbered List Icon"
    ></svg
  ></a>
  <a class="col-2" href="/login"
    ><svg
      class="mx-5"
      cIcon
      name="cilUser"
      size="xl"
      title="Numbered List Icon"
    ></svg
  ></a>
</c-row>
