<app-header></app-header>
<c-container *ngIf="product$ | async as product">
  <c-row>
    <c-col>
      <div *ngIf="editor">
        <form (ngSubmit)="update(product)">
          <div>
            <img src="{{ product.image }}" alt="" class="py-3" />
          </div>

          <div class="form-group">
            <label for="name">Név</label>
            <input cFormControl name="name" [(ngModel)]="product.name" />
          </div>

          <div class="form-group">
            <label for="price">Ár</label>
            <input
              class="form-control"
              type="number"
              name="price"
              [(ngModel)]="product.price"
            />
          </div>

          <div class="form-group">
            <label for="description">Leírás</label>
            <textarea
              class="form-control"
              name="description"
              [(ngModel)]="product.description"
            ></textarea>
          </div>
          <a href="https://boardgamegeek.com/boardgame/330174/explorers"
            >BoardGameGeek adatlap</a
          >

          <p>
            <button cButton color="dark" class="mt-2" (click)="update(product)">Mentés</button>
          </p>
        </form>
      </div>

      <div *ngIf="!editor">
        <h1>{{ product.name }}</h1>

        <div class="d-flex flex-wrap">
          <div>
            <img src="{{ product.image }}" alt="" class="py-3" />
          </div>

          <div class="d-flex flex-column w-50">
            <p>{{ product.price }} Ft</p>

            <ul>
              <li>
                {{ product.description }}
              </li>
              <li>
                <a href="{{ product.datasheet }}">BoardGameGeek adatlap</a>
              </li>
            </ul>

            <p>
              <button cButton color="dark" routerLink="/cart">Kosárba</button>
            </p>
          </div>
        </div>
      </div>
    </c-col>
  </c-row>
</c-container>
<app-footer></app-footer>
