
<app-header></app-header>
<c-container>
  <c-row>
    <h1>{{product?.name}}</h1>
    <div class="d-flex flex-wrap">
      <div>
        <img src="../../../assets/images/explorers1.jpg" alt="" class="py-3">
      </div>
      <div *ngIf="editor">
        <p><input type="currency" [value]="product?.price"></p>
          <ul>
            <li>
              <input [value]="product?.description">
            </li>
            <li>
              <a href="https://boardgamegeek.com/boardgame/330174/explorers">BoardGameGeek adatlap</a>
            </li>
          </ul>
          <p>
            <button cButton color="dark" routerLink="/cart">Kosárba</button>
          </p>
      </div>
      <div *ngIf="!editor">
        <p>{{product?.price}} Ft</p>
          <ul>
            <li>
              {{product?.description}}
            </li>
            <li>
              <a href={{product?.datasheet}}>BoardGameGeek adatlap</a>
            </li>
          </ul>
          <p>
            <button cButton color="dark" routerLink="/cart">Kosárba</button>
          </p>
      </div>
    </div>
  </c-row>
</c-container>
<app-footer></app-footer>
